.form h3 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 5px;
}

.form {
    display: flex;
}

.form-container {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-contact-information {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0px 250px 0px 280px;
}

.mantine-cboft7 {
    width: 200%;
}

.mantine-cboft7:focus,
.mantine-cboft7:focus-within,
.mantine-1ix1d88:focus {
    border-top-color: #ced4da;
    border-right-color: #ced4da;
    border-left-color: #ced4da;
    border-bottom: 2px solid #ffa019;
}

.mantine-gszoqu:focus,
.mantine-gszoqu:focus-within {
    outline: none;
    border-color: #ffa019;
}

.user-contact-information-items {
    display: flex;
    gap: 250px;
}

.user-contact-information-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 210px;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 680px 0px 280px;
}

.user-work-experience {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px;
    padding: 0px 680px 0px 280px;
}

.work-experience-dates {
    display: flex;
    gap: 100px;
}

.mantine-gszoqu {
    width: 150%;
}

.mantine-1ix1d88 {
    width: 200%;
    height: 120px;
}

/* User-Projects */

.user-projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px;
    padding: 0px 680px 0px 280px;
}

/* User-Education */
.user-education {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px;
    padding: 0px 680px 0px 280px;
}

.education-dates {
    display: flex;
    gap: 90px;
}

/* Skills and interests*/
.user-Skills,
.user-interest {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px;
    padding: 0px 680px 0px 280px;
}

/* form buttons */
.form-controll-buttons {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position: sticky;
    bottom: 20px;
}

.form-controll-buttons button {
    font-size: 25px;
    padding: 5px 25px;
    border: none;
    box-shadow: 2px 2px 2px 1px black;
    background: transparent;
}

.form-controll-buttons button:active {
    translate: 2px 2px;
    box-shadow: 1px 1px 0px 0px black;
}

/* *************************************** */
@media (max-width: 391px) {
    .form {
        justify-content: center;
    }

    .user-contact-information-heading h3 {
        margin-left: -55%;
    }

    .user-contact-information-items {
        flex-direction: column;
        gap: 20px;
    }

    .user-contact-information-item,
    .social-media-links {
        width: 150px;
        text-align: left;
        padding: 0px;
        margin-left: -55%;
    }

    .social-media-links,
    .user-work-experience,
    .user-projects,
    .user-education,
    .user-interest,
    .user-Skills {
        width: 150px;
        padding: 0px;
        margin-left: 28%;
    }

    .user-work-experience,
    .user-projects,
    .user-education,
    .user-Skills,
    .user-interest {
        text-align: left;
    }

    .work-experience-dates,
    .education-dates {
        flex-direction: column;
        gap: 15px;
    }

}

@media (min-width: 391px) and (max-width: 786px) {
    .form {
        justify-content: center;
    }

    .user-contact-information {
        padding: 0px;
    }

    .user-contact-information-heading h3 {
        margin-left: 35px;
    }

    .user-contact-information-items {
        gap: 200px;
        margin-left: 5%;
    }

    .user-contact-information-item {
        width: 150px;
        padding: 0px;
    }

    .social-media-links,
    .user-work-experience,
    .user-projects,
    .user-education,
    .user-interest,
    .user-Skills {
        width: 340px;
        padding: 0px;
        margin-left: 5%;
    }

}

@media (min-width: 787px) and (max-width: 1024px) {
    .form {
        justify-content: center;
        margin-left: 90px;
    }

    .user-contact-information {
        padding: 0px;
    }

    .user-contact-information-heading h3 {
        margin-left: 5%;
        width: 50%;
    }

    .user-contact-information-items {
        gap: 220px;
        margin-left: 5%;
    }

    .user-contact-information-item {
        width: 180px;
        padding: 0px;
    }

    .social-media-links,
    .user-work-experience,
    .user-projects,
    .user-education,
    .user-interest,
    .user-Skills {
        width: 340px;
        padding: 0px;
        margin-left: 5%;
    }

}