.home{
    display: flex;
    justify-content: center;
    background-color:#cacfd360;
    /* position: relative; */
}
.home-featured1{
    border-color: green;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.home-featured1-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-featured1-left h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
}
.home-featured1-left p{
    width: 95%;
    font-size: 18px;
    line-height: 28px;
}
.build-button{
    border: none;
    color: #fff;
    background-color: #f56600;
    width: 50%;
    height: 55px;
    font-size: 28px;
    font-weight: 700;
    padding: 10px 15px;
    transition: background-color .5s ease-in-out;
    box-shadow: 2px 2px 1px 0 rgba(0,0,0,.24);
}
.build-button:hover{
    background-color: #ffa019;
}
.home-featured1-right img{
    width: 690px;
    height: 575px;
    object-fit:cover;
    position: relative;
}
.home-featured1-right::before{
    content: "";
    position: absolute;
    top: 65px;
    transform: skewX(-8deg);
    width: 700px;
    height: 580px;
    border: 4px solid rgb(255,160,25);
    /* z-index: 1; */
}
.home-brand-featured{
    /* position: absolute;
    right: 100px;
    bottom: 60px; */
    margin: 20px auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 35px 40px;
    /* box-shadow: 0 2px 9px 1px rgb(0 0 0 / 10%); */
    /* border-radius: 9px; */
    /* z-index: 100; */
    background-color: #8080800f;
}
.home-brand-featured span{
    font-size: 1.2rem;
    color: gray;
}
.home-brand-featured img{
    mix-blend-mode: hard-light;
}
/* CSS for home-featured2 */
.home-featured2{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    /* position: fixed; */
}
.home-featured2-container{
    background-color: rgba(128, 128, 128, 0.099);
    width: 1400px;
    display: flex;
    gap: 70px;
    padding: 30px 95px;
    align-items: center;
    /* position: relative; */
}
.featured2-button{
    width: 300px;
    margin-bottom: 0px;
}
.home-featured2-middle h3{
    font-size: 32px;
    line-height: 58px;
}
/* CSS for home-featured3 */
.home-featured3{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.home-featured3>h1{
    letter-spacing: .86px;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
}
.home-featured3-container{
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.home-featured3-item {
    margin-bottom: 40px;
}
.home-featured3-item h3{
    font-size: 28px;
    line-height: 38px;
    margin: 0 0 10px;
}
.home-featured3-item p{
    font-size: 18px;
    line-height: 28px;
}
.home-featured3-right img{
    height:540px; 
    width:595px;
    object-fit: cover;
}
.featured3-button{
    width: 35%;
}